html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Baloo Tammudu 2';
    font-size: 16px;
    color: black;
    min-width: 320px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 25px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0 auto 25px auto;
}


/* ----- container -----*/
.container {
    width: 100%;
    max-width: 8000in;
    margin: 0 auto;
    margin-bottom: 60px;
}


/* ------------------------- first -------------------------*/
.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/first.jpg") center no-repeat;
    background-size: cover;

}

.first__inside {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.first__title {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    line-height: 1;
    margin: 70px auto;
}


/* ------------------------- header ------------------------- */
.header {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}


/* ------------------------- nav ------------------------- */
.nav__left {
    margin-right: 10%;
    font-size: 16px;
    text-transform: uppercase;
}

.nav__right {
    margin-left: 10%;
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 60px;
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.25s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: moccasin;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.25s linear;
}
 
.nav__link:hover {
    color: moccasin;
}

.nav__link:hover:after {
    opacity: 1;
}


/* ------------------------- button ------------------------- */

.button {
    width: 220px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    padding: 12px 25px;
    background-color: moccasin;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.25s linear, background 0.25s linear;
}

.button:hover {
    color: moccasin;
    background-color: white;
}


/* ------------------------- section ------------------------- */
.section {
    padding: 60px 0;
}

.seсtion--map {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url("../images/map/bg.jpg") center no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
}

.section--investor {
    background: #f5f5f5;
}

.section--table {
    padding: 0;
}

.section__header {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__title {
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.section__title:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto;
    background-color: moccasin;
}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}


/* ------------------------- example ------------------------- */
.example {
    display: flex;
    justify-content: space-between;
}

.example__forest {
    background-color: moccasin;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.example__forest:hover .example__image {
    transform: translate3d(-10px,-10px, 0);
}

.example__forest:hover .example__image img {
    opacity: 0.15;
}

.example__forest:hover .example__text {
    opacity: 1;
}

.example__image {
    background: linear-gradient(to bottom, #003333, #66cccc);
    transition: transform 0.25s linear;
}

.example__image img {
    display: block;
    transition: opacity 0.25s linear;
}

.example__text {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.25s linear;
}


/* ------------------------- table ------------------------- */
.table {
    background-color: moccasin;
    font-family: 'Comfortaa', cursive;
}

.tab {
    display: flex;
    margin: 0 300px;
}

.tab__item__1 {
    flex: 1 1 1;
    padding: 70px 25px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    color: black;
    width: 100%;
}

.tab__item__2 {
    flex: 1 1 1;
    padding: 70px 25px;
    text-align: center;
    color: black;
    width: 100%;
}

.tab__item__3 {
    flex: 1 1 1;
    padding: 70px 25px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    color: black;
    width: 100%;
}

.tab__countries {
    margin-bottom: 10px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
}

.tab__text {
    font-size: 18px;
    text-transform: uppercase;
}


/* ------------------------- map ------------------------- */
.map {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.map_item {
    display: flex;
    width: 100%;
}


/* ------------------------- investor ------------------------- */
.investor {
    display: flex;
    flex-wrap: wrap;
    margin: 0 9%;
}

.investot__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 50px;
}


.investor__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 40px;
    z-index: 1;
}

.investor__name {
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

.investor__prof {
    font-size: 16px;
    color: black;
    font-style: italic;
    font-weight: 300;
}

.investor__text {
    font-size: 14px;
    color: black;
}

.investor__text:before {
    display: block;
    width: 80px;
    height: 3px;
    margin: 10px 0;
    background-color: moccasin;
}


/* ------------------------- footer ------------------------- */
.footer{
    font-family: 'Baloo Tammudu 2';
    margin-top: 20px;
    text-align: center;
}

.footer .fa{
    font-size: 36px;
    margin: 0 20px;
    color: #d0d0d0;
    border-radius: 50%;
    line-height: 45px;
    transition: color 0.25s linear;
}

.footer .fa-facebook:hover{
   color: #2b55ff;
}

.footer .fa-instagram:hover{
    color: #833ab4;
}

.footer .fa-twitter:hover{
    color: #00aced;
}


/* ------------------------- copyright ------------------------- */
.copyright {
    font-size: 12px;
    color: black;
    text-align: center;
}










/* ------------------------- news ------------------------- */
/* ------------------------- news ------------------------- */
/* ------------------------- news ------------------------- */

.first__news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e0ffff;
    background-size: cover;

}

* {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
 }
 .post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .post-item {
    padding: 10px;
 }
 .post-item-wrap {
    position: relative;
 }
 .post-item img {
    display: block;
    width: 100%;
 }
 .post-item:hover .post-info {
    opacity: 1;
 }
 .post-link {
    text-decoration: none;
 }
 .post-info {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.25s linear;
 }
 .post-meta {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    padding: 0 0 10px 15px;
    margin-bottom: 15px;
    position: relative;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #66cccc;
 }
 .post-date:after {
    content: "\2022";
    margin: 0 6px;
    font-size: 14px;
 }
 .post-title {
    padding: 0 15px;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }










/* ------------------------- gallery ------------------------- */
/* ------------------------- gallery ------------------------- */
/* ------------------------- gallery ------------------------- */

.first__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e0ffff;
    background-size: cover;
}

* {
    box-sizing: border-box;
   }
    
   label[for] {
    cursor: pointer;
   }
    
   input[type="checkbox"] {
    display: none;
   }
    
   .lightbox, .grid__gallery {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
   }
    
   .lightbox {
    z-index: 1;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
   }
   .lightbox img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   }
    
   input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
   }
    
   input[type="checkbox"]:checked ~ .grid__gallery {
    opacity: .125;
   }
    
   .grid__gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    z-index: 0;
    height: 100%;
    padding: 16px;
    overflow: auto;
    background-color: #e0ffff;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
    padding-top: 100px;
   }
   .grid__gallery .grid-item {
    display: inline-block;
    width: 25%;
    padding: 16px;
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
   }
   .grid__gallery .grid-item:hover {
    opacity: 1;
   }
   @media screen and (max-width: 1024px) {
    .grid__gallery .grid-item {
    width: 50%;
    }
   }
   @media screen and (max-width: 480px) {
    .grid__gallery .grid-item {
    width: 100%;
    }
   }
   .grid__gallery img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   }










/* ------------------------- contcts ------------------------- */
/* ------------------------- contcts ------------------------- */
/* ------------------------- contcts ------------------------- */

.first__contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #e0ffff;
    background-size: cover;
}

   .nesolestag-enadenud {
    width: 615px;
    margin: 0 auto;
    padding-top: 150px;
  }
  
  .kesednsoled:after,
  .kesednsoled:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }
  .ico-wrap {
    color: #003333;
    width: 48px;
    height: 48px;
    margin: 30px 18px 5px 5px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid #003333;
    float: left;
    border-radius: 30px;
  }
  .ico-contact {
    line-height: 1.9 !important;
  }
  .meanous-andscoev {
    float: left;
    margin-bottom: 20px;
    padding-top: 25px;
  }
  .aio-icon-title {
    font-size: 16px;
    color: #003333;
    line-height: 1;
    margin-bottom: 8px;
  }
  
  @media (max-width: 767px) {
    .meanous-andscoev,
    .ico-wrap {
    float: none;
    text-align: center;
    }
    .ico-wrap {
    margin: 0 auto 15px auto;
    }
  }










/* ------------------------- media ------------------------- */ 
@media screen and (max-width: 960px) {
    .tab {
        margin: 0 auto;
    }

    .tab__item__1 {
        flex: 1 1 1;
        padding: 70px 25px;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        color: black;
        width: 100%;
    }

    .tab__item__2 {
        flex: 1 1 1;
        padding: 70px 25px;
        border-left: 0px solid black;
        border-right: 0px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        color: black;
        width: 100%;
    }

    .tab__item__3 {
        flex: 1 1 1;
        padding: 70px 25px;
        border-left: 0px solid black;
        border-right: 0px solid black;
        text-align: center;
        color: black;
        width: 100%;
    }
    .example {
        display: flex;
        flex-direction: column;
    }

    .example__forest {
        margin: 20px auto;
    }

    .example {
        display: flex;
        flex-direction: column;
    }

    .example__forest {
        margin: 20px auto;
    }

    .tab {
        display: flex;
        flex-direction: column;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .investor {
        display: flex;
        flex-wrap: wrap;
    }

    .investot__item {
        width: 50%;
        padding: 0 45px 0 45px;
        position: relative;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .investor__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
    }  

    .investor__text {
        margin-top: 10%;
    }
    
}
@media screen and (max-width: 800px) {
    p {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    .header__logo {
        font-size: 22px;
    }

    .investot__item {
        width: 100%;
    }

    .section__header {
        max-width: 900px;
    }

    .example {
        width: 100%;
    }

    .tab {
        width: 100%;
    }
    
}

@media screen and (max-width: 650px) {
    
}












